<!-- Start Header setcion -->
<app-page-error-navbar></app-page-error-navbar>
<!-- End Header setcion -->

<div id="page500" class="">
  <div class="container-fluid ">
    <div class="text-center ">
      <div class="sub-hero row d-flex justify-content-center pt-3">
        <div class="col-sm-4 mx-3">
          <img  class="card-img" src="./assets/images/500.svg" alt="" >
        </div>
        <div class="col-sm-4 mx-3 d-flex  flex-column justify-content-center text-left">
          <h2 class="title mt-5">We have an internal server error</h2>
            <br>
          <div>
            <a placement="left" ngbTooltip="Go Back" href="javascript:history.go(-1)"
            type="button" class="btn btn-success  p-2 px-5 my-1 " >
            Go Back</a>
          </div>

        </div>
      </div>
  </div>
  </div>
</div>
