    <!-- start sub footer   -->
    <div id="footer-sub" class="mt-auto mb-0">
      <div class="container-lg container-fluid ">
        <div class="py-4 px-2">
          <div class="row  text-sm-left text-center">
            <div class="col-sm-5 my-2">2024 NexProMa All rights reserved.</div>
            <div class="footer-sub-logo-dist col-sm-7 my-2 text-sm-right  text-center">
              <span class="mr-lg-3 mr-sm-2   ">Proudly powered By</span>
              <img [routerLink]="'/'"  class="logo-dist pointer" src="./assets/images/my_logo.svg" alt="" >
            </div>
          </div>
        </div>
      </div>
    </div>
   <!-- end sub footer   -->
