/* start home */
#home {
  padding-top: 100px;
  padding-bottom: 10px;
}


#hero h2.hero-title-first,
#hero h2.hero-title-second {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

#hero h2.hero-title-first {
  color: #1D1D1D;
  margin-bottom: 25px;
}

#hero h2.hero-title-second {
  color: var(--first-color-dis);
  margin-bottom: 25px;
}

#hero p.hero-text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 25px;
}

#hero .hero-img {
  width: 75%;
}

#hero .hero-btn .btn-primary {
  color: #fff;
  background-color: var(--main-color-dis);
  border-color: var(--main-color-dis);
  border-radius: 7px;
  min-width: 150px;
  font-size: 1.1rem;
  font-weight: 500;
}

#hero .hero-btn .btn-success {
  color: #fff;
  background-color: var(--first-color-dis);
  border-color: var(--first-color-dis);
  border-radius: 7px;
  min-width: 150px;
  font-size: 1.1rem;
  font-weight: 500;
}





/* start com_ca_marche */
#com_ca_marche h3.com_ca_marche-title {
  color: var(--main-color-dis);
  font-weight: 700;
  font-size: 35px;
}

#com_ca_marche .com_ca_marche-text {
  color: #8C98A4;
  font-size: 20px;
}

#com_ca_marche .com_ca_marche-item {
  text-align: center;
  margin-top: 20px;
}

#com_ca_marche .com_ca_marche-item-img {
  height: 70% !important;
  max-width: 100%;
}

#com_ca_marche .com_ca_marche-item-text {
  color: #1D1D1D;
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 1.7rem;
}

#com_ca_marche .com_ca_marche-item-text span {
  color: var(--first-color-dis);
}

#pve h3.pve-title {
  color: var(--main-color-dis);
  font-weight: 700;
  font-size: 35px;
}

#pve .pve-img {
  width: 100% !important;
  object-fit: cover;
}

#pve .pve-text {
  color: #242424;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  margin-top: -5%;
}

#pve .carousel-control-prev-icon,
#pve .carousel-control-next-icon {
  background-color: var(--first-color-dis);
}

#pve .carousel-control-next,
#pve .carousel-control-prev {
  width: 3%;
  color: #E6E6E6;
  /* bottom: 24%; */
  opacity: .9;
}

#pve .carousel-control-next .icon-next,
#pve .carousel-control-prev .icon-prev {
  font-size: 35px;
}

#pve .carousel-control-next:focus,
#pve .carousel-control-next:hover,
#pve .carousel-control-prev:focus,
#pve .carousel-control-prev:hover {
  color: var(--first-color-dis);
  opacity: .9;
}

#pve .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--first-color-dis);
  opacity: .3;
}

#pve .carousel-indicators {
  top: 102%;
}

#pve .carousel-indicators .active {
  bottom: -8%;
  background-color: var(--main-color-dis);
  opacity: 1;
}

#temoignages h3.temoignages-title {
  color: var(--main-color-dis);
  font-weight: 700;
  font-size: 35px;
}

#temoignages .temoignages-img {
  width: 150px !important;
  object-fit: cover;
  height: 150px !important;
  clip-path: ellipse(50% 50%);
}

#temoignages .temoignages-text {
  color: #242424;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  margin-top: -5%;
}

#temoignages .carousel-control-prev-icon,
#temoignages .carousel-control-next-icon {
  background-color: var(--first-color-dis);
}

#temoignages .carousel-control-next,
#temoignages .carousel-control-prev {
  width: 3%;
  color: #E6E6E6;
  bottom: 24%;
  opacity: .9;
}

#temoignages .carousel-control-next .icon-next,
#temoignages .carousel-control-prev .icon-prev {
  font-size: 35px;
}

#temoignages .carousel-control-next:focus,
#temoignages .carousel-control-next:hover,
#temoignages .carousel-control-prev:focus,
#temoignages .carousel-control-prev:hover {
  color: var(--first-color-dis);
  opacity: .9;
}

/* Small */
@media (max-width: 767px) {
  #hero .hero-img {
    width: 100%;
  }

  #pve .carousel-control-next,
  .carousel-control-prev {
    width: 10% !important;
  }
}

/* Medium */
@media (max-width: 1199px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {}
