<!-- Start Header setcion -->
<app-home-navbar></app-home-navbar>
<!-- End Header setcion -->

<!-- Start main setcion -->
<div id="home" class="container-sm container-fluid">
  <!-- start hero  -->
  <div id="hero">
    <div class="row text-sm-right text-center">
      <div
        class="col-sm-6 col-12 order-sm-1 order-1 d-flex align-items-center justify-content-sm-start justify-content-center">
        <img class="hero-img" src="./assets/images/nexProMa_img_hero.svg">
      </div>
      <div class="col-sm-6 col-12 order-sm-2 order-2 d-flex align-items-center pt-3">
        <div class=" ">
          <h2 class="hero-title-first ">
            علاش حنا و ماشي شي حد آخر؟
          </h2>
          <h2 class="hero-title-second  ">
            ! أجي نقول ليك علاش
          </h2>
          <p class="hero-text  mb-4">
            نوفر لك منتجات عالية الجودة بأسعار تنافسية. التسوق معنا ممتع وآمن، مع كل التسهيلات في اختيار المنتج، الدفع،
            والشحن
          <div class="hero-btn ">
            <button type="button" [routerLink]="['/all-product']" class="btn btn-primary ">
              <i class="fas fa-search fa-lg"></i> استعراض المزيد
            </button>
            <!-- <button type="button" [routerLink]="['inscription']" class="btn btn-success mx-3"> Employeur</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- strat best_products -->
  <app-best-product></app-best-product>


  <!-- strat com_ca_marche -->
  <div id="com_ca_marche" class=" mt-5 mb-5 pb-4">
    <h3 class="com_ca_marche-title text-center ">-أن تكون في أيدٍ موثوقة وآمنة-</h3>
    <p class="com_ca_marche-text text-center mb-sm-5 mb-3">! سنساعدك في كل خطوة</p>
    <div class="row d-flex justify-content-between ">

      <div class="col-sm-3 col-12 com_ca_marche-item text-center">
        <img class="com_ca_marche-item-img  " src="./assets/images/nexProMa_satisfaction_user.svg">
        <br><br>
        <p class="com_ca_marche-item-text">
          منتجات مضمونة لجعل تجربتك مميزة
        </p>
      </div>
      <div class="col-sm-3 col-12 com_ca_marche-item text-center">
        <img class="com_ca_marche-item-img  " src="./assets/images/nexProMa_livraision.svg">
        <br><br>
        <p class="com_ca_marche-item-text">
          استمتع بتوصيل سريع مجاني لجميع منتجاتنا أينما كنت في <span
            style="color: var(--first-color-dis);font-size: 1.5rem;">سلا</span> / <span
            style="color: var(--first-color-dis);font-size: 1.5rem;">الرباط </span> <br> ( <span style="color: red;">
            <span style="font-size: 1.5rem;">تمارة</span> في عطلة نهاية الأسبوع </span>)
        </p>
      </div>
      <div class="col-sm-3 col-12 com_ca_marche-item text-center">
        <img class="com_ca_marche-item-img  " src="./assets/images/nexProMa_cash_delevry.svg">
        <br><br>
        <p class="com_ca_marche-item-text">
          استلم منتجك وادفع فقط عند الإستلام
        </p>
      </div>
      <div class="col-sm-3 col-12 com_ca_marche-item text-center ">
        <img class="com_ca_marche-item-img " src="./assets/images/nexProMa_service_24_7.svg">
        <br><br>
        <p class="com_ca_marche-item-text">
          خدمة ما بعد البيع على مدار 24 ساعة <span style="color: var(--main-color-dis);">يوميًا</span>، طوال <span
            style="color: var(--first-color-dis);">الأسبوع</span>
        </p>
      </div>
    </div>
  </div>


  <!-- strat pve -->
  <div id="pve" class=" mt-5 mb-5">
    <h3 class="pve-title text-center mb-4"> - منتجاتنا تتحدث عن نفسها - </h3>
    <!-- start Responsive Desktop/tablet  -->
    <div id="carouselControls" class="carousel slide px-sm-5 d-sm-block d-none" data-ride="carousel">
      <ol class="carousel-indicators ">
        <li data-target="#carouselControls" data-slide-to="0" class="active pointer"></li>
        <li data-target="#carouselControls" data-slide-to="1" class="pointer"></li>
        <li data-target="#carouselControls" data-slide-to="2" class="pointer"></li>
        <li data-target="#carouselControls" data-slide-to="3" class="pointer"></li>
      </ol>
      <div class="carousel-inner">
        <ng-container *ngFor="let item of list">
          <div class="carousel-item   " [ngClass]="{' active ' : item == 0 }">
            <div class="">
              <div class="row d-flex justify-content-around ">
                <div class="col-sm-3 col-6 ">
                  <img class="pve-img " src="./assets/images/pve_{{(item*3)+1}}.PNG">
                </div>
                <div class="col-sm-3 col-6  ">
                  <img class="pve-img " src="./assets/images/pve_{{(item*3)+2}}.PNG">
                </div>
                <div class="col-sm-3 col-6  ">
                  <img class="pve-img " src="./assets/images/pve_{{(item*3)+3}}.PNG">
                </div>
              </div>
            </div>

          </div>
        </ng-container>


      </div>

      <button class="carousel-control-prev" type="button" data-target="#carouselControls" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <i class=" icon-prev fas fa-chevron-left"></i>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselControls" data-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <i class="icon-next fas fa-chevron-right"></i>
        <span class="sr-only">Next</span>
      </button>
    </div>
    <!-- start Responsive Mobile  -->
    <div id="carouselControlsMobile" class="carousel slide px-sm-5 d-sm-none d-block" data-ride="carousel">
      <ol class="carousel-indicators ">
        <li data-target="#carouselControlsMobile" data-slide-to="0" class="active pointer"></li>
        <li data-target="#carouselControlsMobile" data-slide-to="1" class="pointer"></li>
        <li data-target="#carouselControlsMobile" data-slide-to="2" class="pointer"></li>
        <li data-target="#carouselControlsMobile" data-slide-to="3" class="pointer"></li>
        <li data-target="#carouselControlsMobile" data-slide-to="4" class="pointer"></li>
        <li data-target="#carouselControlsMobile" data-slide-to="5" class="pointer"></li>
      </ol>
      <div class="carousel-inner ">
        <ng-container *ngFor="let item of listMobile">
          <div class="carousel-item   " [ngClass]="{' active ' : item == 0 }">
            <div class="">
              <div class="row d-flex justify-content-around px-1 mx-0">
                <div class="col-6 px-1">
                  <img class="pve-img " src="./assets/images/pve_{{(item*2)+1}}.PNG">
                </div>
                <div class="col-6  px-1">
                  <img class="pve-img " src="./assets/images/pve_{{(item*2)+2}}.PNG">
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <button class="carousel-control-prev" type="button" data-target="#carouselControlsMobile" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <i class=" icon-prev fas fa-chevron-left"></i>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselControlsMobile" data-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <i class="icon-next fas fa-chevron-right"></i>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>


  <!-- strat temoignages -->
  <div id="temoignages" class=" mt-5 pt-3 mb-5">
    <h3 class="temoignages-title text-center mb-4"> - شهادة - </h3>
    <div id="carouselControls" class="carousel slide px-5 " data-ride="carousel">

      <div class="carousel-inner ">
        <div class="carousel-item active  ">
          <div class="row d-flex justify-content-center">
            <div class="col-sm-3 col-12 text-center d-flex align-items-center justify-content-center ">
              <div>
                <img class="temoignages-img " src="./assets/images/img-home-temoignage-1.png">
                <p class="temoignages-name mt-3"> <strong>Ouakka Achraf</strong> <br><br></p>
              </div>
            </div>
            <div class="col-sm-8 col-12 d-flex align-items-center ">
              <div class="temoignages-text text-sm-right" dir="rtl">
                لضمان نجاح عمليات البيع عبر الإنترنت، كنا بحاجة إلى منصة جاهزة تمكننا من إنشاء وإضافة المنتجات بسهولة
                وفقًا لمتطلبات العملاء. اختيار <b>nex<span style="color: var(--main-color-dis);">ProMa</span></b> كان
                قرارًا موفقًا لفريقنا. لقد جعلت إدارة المنتجات والمبيعات أمرًا بسيطًا.
              </div>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-target="#carouselControls" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <i class=" icon-prev fas fa-chevron-left"></i>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselControls" data-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <i class="icon-next fas fa-chevron-right"></i>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>


</div>
<!-- End main setcion -->


<!-- Start footer setcion -->
<app-home-mian-footer></app-home-mian-footer>
<app-home-sub-footer></app-home-sub-footer>

<!-- Start scroll-top fix bottom -->
<app-scroll-top></app-scroll-top>
<!-- Start whatsapp fix bottom -->
<app-whatsapp-left></app-whatsapp-left>
