.fixed-bottom{
   position: fixed;
    left: 300px;
    margin-top: auto;
/*     z-index: 3;
 */ bottom: 0;
    /* transition: all 0.3s; */
    color: var(--main-color-dis);
}

.l-60{
    left: 60px;
    transition: all 0.3s;
}

@media (max-width:576px) {
  .fixed-bottom.i18n-arb,
  .fixed-bottom{
    left: 0 !important;
    right: 0 !important;
  }
}
/*------------------- i18n-arabe -----------------------*/

.fixed-bottom.i18n-arb{
  left: 0px;
  right: 250px;
}

.l-60.i18n-arb{
  right: 60px !important;
}
