
#dis .logout {
  font-size: 20px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 165px;
  padding-bottom: 5px;
}
#dis .logout .icon-username{
  font-size: 1.3rem;
}
#dis .logout .currentDate{
font-size: .8rem;
color:var(--sixth-color-dis);
text-align: center;
line-height: 0;
}
#dis .logout .text-username{
  text-transform:capitalize;
}

#dis .icon-logout{
  color: var(--sixth-color-dis);
  line-height: 36px;
  font-size: 1.2rem;
}
