/* start inscription section */
#login .card-title{
  color: #2C2C2C;
    font-size: 2.5rem;
    font-weight: 400;
}

 /* Small */
 @media (max-width: 767px)
 {
  #login .card-title{
    font-size: 2rem;
  }
}


#login .card-sub-title{
  line-height: 10px;
  font-size: 0.7rem;
}


#login .msgError{
  font-size: small;
  padding: 3px;
}

#login .text-mail{
  font-size: 14px;
  color : #323232;
}

#login .title-inscrit{
  font-size: 13.5px;
  color: #000000;
  font-weight: 500;
}

#login .title-inscrit a,
#login .title-forgot-password{
  font-size: 13.5px;
  color: var(--main-color-dis);/* color: #1877F2; */
  font-weight: 500;
}

#login  #img-rigth img{
  flex-shrink: 0;
  height: 100%;
  object-fit: cover;
  border-radius: 20px !important;
  object-position: center;
  border-radius: 150px !important;
}

#login  .login-mb-image img{
  flex-shrink: 0;
  height: 100%;
  object-fit: cover;
  border-radius:0px !important;
  object-position: top;
  /* border-radius: 150px !important; */
}

#login  #img-rigth .card {
  border: none;
}
#login  #img-rigth .card-img {
  position: absolute;
}

#login #img-rigth .card-img-overlay.top-left {
  top: 0;
  right: auto;
  width: 50%;
  height: 50%;
  bottom: auto;
  left: 0;
  background: rgba(0, 213, 85, 0.20);
}
#login #img-rigth .card-img-overlay.buttom-right {
  top: auto;
  right: 0;
  width: 50%;
  height: 50%;
  bottom: 0;
  left: auto;
  background: rgba(24, 119, 242, 0.33);
}

#login #img-rigth .img-overlay.top-left-other {
  position: absolute;
  z-index: 0;
  top: 0;
  right: auto;
  width: 50%;
  height: 50%;
  bottom: auto;
  left: 0;
  background: var(--first-color-dis);
  ;
}
#login #img-rigth .img-overlay.buttom-right-other {
  position: absolute;
  z-index: 0;
  top: auto;
  right: 0;
  width: 50%;
  height: 50%;
  bottom: 0;
  left: auto;
  background: var(--main-color-dis);
}

 /* Small */
 @media (max-width: 767px)
 {
  .h-45{
    height: 45%;
  }
 }

/* end login section */

